# fly.toml app configuration file generated for zen-demo-go on 2025-10-28T14:17:27+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'zen-demo-go'
primary_region = 'ams'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '2048mb'
  cpu_kind = 'performance'
  cpus = 1

[env]
GIN_MODE = 'release'
